body {
    background-color:#181a1b;
}

h1, h2, h3, h4, h5, h6, p {
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:0px 50px;
}

h1 {
    padding:0px 80px;
}

img {
    width: 100%;
    padding:30px 30px;
    padding:15px 0px;
    border-radius: 60px;
    overflow:hidden;
    transition-duration: 0.3s;
}

.hide {
    color:#00000000;
    transition-duration: 0.3s;
    position:relative;
    top:-75px;
}

#title-image:hover + .hide{
    color:#ffffffff;
}

#title-image:hover {
    filter:brightness(0.5);
}